---
import Layout from "../layouts/Layout.astro";
import Title from "../components/Title.astro";
import Image from "../components/Image.astro";
import Quote from "../components/Quote.astro";
---

<Layout title="Ein Mann. Ein Coach">
  <main class="container mx-auto max-w-xl px-4">
    <Title>Ein Mann. Ein Coach.</Title>
    <Quote
      >Manchmal braucht Mann nur eine Umarmung.<br />Mit der flachen Hand. Ins
      Gesicht.</Quote
    >
    <Image name="00230.png" />
  </main>
</Layout>
