---

---
<div class="fixed bottom-6 text-center w-full">
  <a class="inline-block tracking-wide hover:bg-green-700 bg-green-800 text-white p-3 rounded-lg" href="https://forms.gle/fVZVCtppTS7JcyuN7" target="_blank">
    Jetzt Coach finden!
  </a>
</div>