---
const { author } = Astro.props

---
<div>
<q class="font-light leading-6 block italic text-center text-xl text-blue-900 mt-8 mb-5"><slot /></q>

{ author && <span class="block text-sm text-right my-2 text-gray-500">{author}</span>}
</div>
